<div class="d-flx flx-d-clm a-items-c">
  <p class='page-heading'>Events</p>
  <p class='margin-8'>We at Industry Cell, NIT Kurukshetra believe that the best learning curve for any great lesson is
    achieved by
    Learning-by-Doing technique. Therefore we organise various events annually to cultivate the basic entreprenurship
    spirit in students.</p>
  <div class="grid-container">
    <div class="img-container image-1">
      <img class="image" src="assets/images/bplan.jpeg">
      <div class='event-info'>
        <p class='font-weight-bolder font-size-24 margin-8-vertical'>BPlan</p>
        <p>Ever thought of a revolutionary idea of building your dream startup? Do you dare to muster up the steeliest
          of
          resolves and turning ideas into his companies?
          If yes, then IDEATOR, the B-PLAN Flagship event of Industry Cell, NIT Kurukshetra is here for you, giving the
          platform to think, learn, design implement and convert your Idea into a real business venture.</p>
      </div>
    </div>
    <div class="img-container image-2">
      <img class="image" src="assets/images/productathon.png">
      <div class='event-info'>
        <p class='font-weight-bolder font-size-24 margin-8-vertical'>Stock Hunt</p>
        <p>A virtual stock market event "STOCK HUNT"- providing the platform to test your investment skills🔥🔥 Each
          team will be provided a fixed token money to invest in market.
        </p>
      </div>

    </div>
    <div class="img-container image-3">
      <img class="image" src="assets/images/stockhunt.jpeg">
      <div class='event-info'>
        <p class='font-weight-bolder font-size-24 margin-8-vertical'>Stock Hunt</p>
        <p>A virtual stock market event "STOCK HUNT"- providing the platform to test your investment skills🔥🔥 Each
          team will be provided a fixed token money to invest in market.
        </p>
      </div>
    </div>
    <div class="img-container image-4">
      <img class="image" src="assets/images/youngleaders.png">
      <div class='event-info'>
        <p class='font-weight-bolder font-size-24 margin-8-vertical'>Stock Hunt</p>
        <p>A virtual stock market event "STOCK HUNT"- providing the platform to test your investment skills🔥🔥 Each
          team will be provided a fixed token money to invest in market.
        </p>
      </div>
    </div>
    <div class="img-container image-5">
      <img class="image" src="assets/images/webinar.jpeg">
      <div class='event-info'>
        <p class='font-weight-bolder font-size-24 margin-8-vertical'>Stock Hunt</p>
        <p>A virtual stock market event "STOCK HUNT"- providing the platform to test your investment skills🔥🔥 Each
          team will be provided a fixed token money to invest in market.
        </p>
      </div>
    </div>
    <div class="img-container image-6">
      <img class="image" src="assets/images/startup_week.jpg">
      <div class='event-info'>
        <p class='font-weight-bolder font-size-24 margin-8-vertical'>Stock Hunt</p>
        <p>A virtual stock market event "STOCK HUNT"- providing the platform to test your investment skills🔥🔥 Each
          team will be provided a fixed token money to invest in market.
        </p>
      </div>
    </div>
    <div class="img-container image-7">
      <img class="image" src="assets/images/workshop.jpg">
      <div class='event-info'>
        <p class='font-weight-bolder font-size-24 margin-8-vertical'>Stock Hunt</p>
        <p>A virtual stock market event "STOCK HUNT"- providing the platform to test your investment skills🔥🔥 Each
          team will be provided a fixed token money to invest in market.
        </p>
      </div>
    </div>
  </div>

</div>
